<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="login.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Incomel</label>
					<input type="text" name="txt" placeholder="Usuario"  [(ngModel)]="singupObj.userName">
					<input type="email" name="email" placeholder="Correo electrónico"  [(ngModel)]="singupObj.email">
					<input type="password" name="pswd" placeholder="Contrasena" [(ngModel)]="singupObj.password">
					<button (click)="onSingUp()">Registrarse</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="userName" placeholder="Usuario" [(ngModel)]="loginObj.userName">
					<input type="password" name="pssword" placeholder="Contrasena" [(ngModel)]="loginObj.password">
					<button (click)="onLogin()">Login</button>
				</form>
			</div>
	</div>
</body>
</html>
